APP_NAME=Distributed Task System
APP_PORT=8080
APP_ENV=local

DB_DSN=postgres://taskuser:taskpass@localhost:5432/taskdb?sslmode=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=25
DB_CONN_MAX_LIFETIME=15m

# Redis
REDIS_ADDR=localhost:6379

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
