services:
  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=production
      - APP_PORT=8080
      - DB_DSN=postgres://user:password@db:5432/mirage_db?sslmode=disable
    depends_on:
      - db
    networks:
      - mirage-network
    restart: on-failure

  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=mirage_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mirage-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U mirage -d mirage_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  mirage-network:
    driver: bridge

volumes:
  postgres_data:
